TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
VK_BOT_TOKEN=your_vk_bot_token_here
LOG_LEVEL=INFO

TELEGRAM_WEBHOOK_URL=https://yourdomain.com/tg-webhook
TELEGRAM_WEBHOOK_SECRET=your_webhook_secret_here
TELEGRAM_WEBHOOK_PATH=/tg-webhook

VK_WEBHOOK_URL=https://yourdomain.com/vk-webhook
VK_WEBHOOK_SECRET=your_vk_webhook_secret_here
VK_WEBHOOK_TITLE=bw-weekend-bot
VK_WEBHOOK_PATH=/vk-webhook

WEB_SERVER_HOST=0.0.0.0
WEB_SERVER_PORT=8000
